__pycache__/
baselines/afrisent-semeval-2023/
tmp_trainer/
.DS_Store
baselines/.DS_Store
baselines/.ipynb_checkpoints/
metaxl/data/*.csv
metaxl/.ipynb_checkpoints/
metaxl/__pycache__/
metaxl/out/
adapter_notebooks/tmp_trainer/*
adapter_notebooks/training_output/*
adapter_notebooks/.ipynb_checkpoints/*
adapter_notebooks/tmp/*
adapter_notebooks/~/*
baselines/*_preds.csv
baselines/Baseline_A-XLMR_Kinya.ipynb
